gl_hsc_scantling/__pycache__/
test/__pycache__/
.spyproject/
.vscode/
src/gl_hsc_scantling.egg-info/
src/gl_hsc_scantling/__pycache__/
.pytest_cache/
src/__pycache__/
.coverage
.hypothesis/unicode_data/13.0.0/charmap.json.gz
data.ipynb
data.ipynb
fields.ipynb
data.ipynb
marsh.ipynb
protocol.ipynb
data.ipynb
data.ipynb
protocol.ipynb
data.ipynb
